/* modal2 */
.overlay2
{
	position:absolute;
	left:0; top:0;
	z-index:1;

	display: none;
	width: 100%; height: 100%;
	background-color: black;
	opacity:0.5;
}

.wrap4
{
	position:relative;
	z-index:99;
	
	display: none;
	width:50%; min-width:375px; max-width:400px;
	background-color: white;
	margin:150px auto;
	padding:20px 30px;
	border:1px solid #d9d9d9;
	box-shadow: 1px 0px 1px 1px #d9d9d9;
}

.btn2
{
	padding:5px 10px;
	min-width:110px; width:39%;
	border:1px solid #f0f0f0 ;
	border-radius: 5px;

	font-size:16px ;
	font-weight:500 ;
	text-align:center;

	cursor:pointer;
}

.btn2:hover
{
	background-color: #165b8e;

	color:white;
}

.point
{
	display:inline;

	color:#d9d9d9;
	font-size:22px !important;
}

.wrap4 > div:nth-child(1) 
{
	display:block;
	padding:20px;

	color:#165b8e;
	text-align:center;
	font-size:22px;
	font-weight:700;
}

.ticket_box
{
	position:relative;

	width:100%; height:100px;
	background-image:url('../img/ticket.png');
	margin-top:20px;
	overflow:hidden;
	
}

/*********�떚耳볥쾲�샇�� 諛붿퐫�뱶踰덊샇 ***********/
.ticket_box > div 
{
	position:absolute;

	display:inline-block;
	text-align:center;
	font-weight:700;
	font-size:22px;
}

/*****�떚耳볥쾲�샇******/
.ticket_box > div:nth-child(1)
{
	left:30px; top:15px;

	color:white !important;
}

/*****諛붿퐫�뱶 踰덊샇******/
.ticket_box > div:nth-child(2)
{
	right:25px; top:15px;
}

/************�븞�궡硫붿꽭吏�*************/
.wrap4 > div:nth-child(3)
{
	background: white;
	margin-top:40px;
	padding:10px 5px;
	border:1px solid #bfbfbf;

	color:#808080;
	text-align:center;
	font-size:14px;
}

.btn_box2
{
	padding:30px 0px;
}

.btn_box2 > div
{
	display:inline-block;
}

.btn_box2 > div:nth-child(1) 
{
	width:10% !important; min-width:66px !important;
}