.slide_wrap
{
    background-image: url(../img/slideback_winter.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide_wrap > .wrap
{
    height: 100%;

    background: none;
}


/****slide left right button****/
/*div{box-sizing: border-box;}*/

.slide_btn_wrap
{
    position: absolute;
	top:50%;
    transform: translate(0, -35%);

    width: 100%;
}

.slide_btn
{
    display: inline-block;
    padding: 1rem;
    box-shadow: 2px -2px #f7f5f7 inset;
    border-width: 0 0 2rem 2rem;

    transition: 0.2s;

    cursor: pointer;
}

.slide_btn:hover
{
	box-shadow: 2px -2px 0 2px orchid inset;
}

.btn_left
{
	transform:rotate(45deg);
}

.btn_right
{
	float:right;

	transform:rotate(225deg);
}

.slide_radius_btnbox
{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    z-index: 96;

    text-align: center;
}

.slide_btns
{
	display:inline-block;
	z-index:96;

	width:15px; height:15px;
	background-color: rgba(225,225,225,.9);
	border-radius: 50%;	
	margin: 0px 3px;

	transition: 0.2s;

	cursor: pointer;
}

.slide_btns:hover,
.slide_btns.now
{
	background-color: #374ba5;
}

/**************slide container(contents)********************/
.slide_container
{
}

.slide_list_wrap
{
	position: relative;
	
    min-width: 640px; width: 50%; height: 400px;
    padding: 20px 0;
    margin: 0 auto;
    
    overflow: hidden;
}

.slide_container ul
{
	position: absolute;
	
	width: 5000px;
	left: 0;

	font-size: 0;

	transition: 0.4s;
}

.slide_container ul li
{
	position: relative;
	
	display: inline-block;
	width: 640px;
    padding: 20px;
    margin-right: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px #d7b7b7;
}

.slide_flag
{
	position: absolute;
    top: -10px;
    left: 10px;
    z-index: 98;

    width: 65px; height: 65px;
    padding-top: 10px;
    border-radius: 5px;
    background-color: #a04fdf;

    font-size: 18px;
    color: white;
    text-align: center;
    line-height: 20px;
}

/*image*/
.slide_img
{
	display: inline-block;
	width: 240px; height: 320px;
    margin-right: 20px;
    border-radius: 5px;
    background-image: url(../img/festival.png);
    background-repeat: no-repeat;
    background-position: center;
}

.slide_infobox
{
	display: inline-block;
    width: 55%;
    height: 100%;
    border-radius: 5px;

    vertical-align: top;
}

.slide_infobox_title
{
	font-size: 28px;
}

.slide_infobox_title > span 
{
    width: 40px;
    background-color: #b5b3b7;
    border-radius: 5px;
    margin-right: 10px;

	font-size: 18px;
    text-align: center;
    color: white;
}


.slide_infobox_note
{
	display: inline-block;
	margin-top: 20px;

	font-size: 16px;
}

.slide_infobox_btn
{
    position: absolute;
    bottom: 40px;
    
    width: 50%;
    
    text-align: center;
}

.slide_infobox_btn > a
{
    width: 80%; height: 50px;
    background-color: #7682b9;
    margin-top: 30px;

    text-align: center;
    color: white;
    font-size: 22px;
    line-height: 50px;

    transition: 0.2s;
}

.slide_infobox_btn > a:hover
{
	background-color: #374ba5;
    
	cursor: pointer;
	
}