/* ==================== basic css ==================== */
/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

/* reset */
*, html, header, footer, main, div,
p, a, input, li, ul, ol, table, button, span, b
{
	margin: 0; padding: 0;
	box-sizing: border-box;

	font-family: 'Noto Sans KR', sans-serif;
}

span, b
{
	display: inline-block;
}

a
{
	display: inline-block;
	color: inherit;
	text-decoration: none;
}

input
{
	outline: none;
	border: none;
	resize: none;

	font-size: 16px;
}

input:focus
{
	background: #eee;
}

textarea
{
	resize: none;
}

li, ul, ol
{
	list-style: none;
}

.btn
{
	min-width: 80px; min-height: 28px;

	cursor: pointer;
}

.btn:hover
{
	background: #11273f;

	color: #fff;
}

.clearfix:after
{
	content: '';
	display: block;
	clear: both;
}

/* ==================== header ==================== */
header
{
	position: fixed;
	top: 0;
	z-index: 9999;

	width: 100%; min-width:1300px; height: 80px;
	background: rgba(255,255,255,0.8);
	border-bottom:1px black inset;
}

header > div
{
	display: inline-block;
}

/* ===== logo ===== */
.logo
{
	position: absolute;
	top: 20px;
	left: 20px;

	display: inline-block;
	width: 200px; height: 40px;
}

/* ===== nav ===== */
.menu
{
	position: absolute;
	left: 50%;
	top: 50%;

	width: 1000px;
	
	font-size: 28px;
	letter-spacing: 0.2em;
	
	transform: translate(-50%, -50%);
}

nav > ul
{
	text-align: center; 
}

nav > ul > li
{
	display: inline-block;
	width: 200px; height: 40px;
	
	line-height: 40px;
	
	cursor: pointer;
}

nav > ul > li:hover
{
	border-bottom: 2px solid #11273f;
	
	font-weight: bold;
}

nav > ul > li:hover .sub_menu
{
	display: block;
}

.sub_menu
{
	position: absolute;

	display: none;
	width: 200px;
	background: rgba(245,245,245,0.8);
	border:1px solid #11273F;
	box-shadow: 0.5px 0.5px 3px 0.5px #11273F;

	font-size: 16px;
	letter-spacing: 0.2em;
	text-align: center;
}

.sub_menu li
{
	padding: 5px 0;
}

.sub_menu li:hover
{
	background: #11273f;
	
	color: #fff;
	font-weight: bold;
}

.sub_menu li a
{
	width: 100%; height: 100%;
}

/* ==================== login ==================== */
.login
{
	position: absolute;
	right: 20px;
	top: 30px;
}

.login a:hover
{
	font-weight: bold;
	text-decoration: underline;
}

/* ==================== main ==================== */
main
{
	min-height: 600px;
}

.wrap
{
	width: 90%; min-width: 900px; max-width: 1100px;
	margin: 0 auto;
}

.title
{
	margin-bottom: 20px;

	text-align: center;
}

/* ========== table ========== */
.table
{
	margin-bottom: 20px;
}

.table a
{
	width: 100%; height: 100%;
}

.thead
{
	text-align: center;
	font-weight: bold;
}

.tbody
{
	text-align: center;
}

.column
{
	display: inline-block;
	height: 35px;
	
	line-height: 35px;
}

/* ==================== footer ==================== */
footer
{
	width: 100%;
	background: #11273f;
	
	color: #fff;
	text-align: center;
	
	padding: 30px 0;
}

footer ul
{
	margin-bottom: 12px;
}

footer li
{
	display: inline-block;
}

.copy
{
	border-top: 1px solid #fff;
	padding-top: 10px;
}