	
.wrap
{
	position:relative;

	width:90%; min-width:1100px;
	padding:80px 80px 100px 80px;
	margin:0 auto;
}

.back_btn
{
	display:block;
	padding: 20px 0;
}

.back_btn:hover
{
	color: #165B8E;
}
	
.forcenter
{
	margin:0 auto;
}
	
.grayblock
{
	width: 55px;
	background-color: #b5b3b7;
	border-radius: 5px;

	color: white;
	font-size: 14px;
	text-align: center;
}
	
.whowebsite
{
	display:inline-block;
}
	
.data
{
	width:75px;
	margin:40px 0px;

	font-size:14px !important;
}

.nav_tag
{
	font-size:18px !important;
	color:#808080;
}

.atag_now
{
	color:#165B8E !important;
}

.forcenter > div
{
	font-size:inherit;
}

.forcenter > div:nth-child(1) { color: #808080; font-weight:600; }
.forcenter > div:nth-child(1) { padding-bottom:10px; }

.wrap > div
{
	width:80%;
}

.info_box
{
	position:relative;

	width:100%;
	margin:0 auto;
	padding-bottom: 40px;
	
}

.info_box > div:nth-child(1)
{
	position:relative;

	display:inline-block;
	width:320px; height:410px;

	overflow:hidden;
}

.info_box > div:nth-child(2)
{
	position:absolute;
	top:10px;

	display:inline-block;
	padding-left:40px;
}
	
.info_box > div:nth-child(2) > div
{
	margin-bottom:15px;
}

.view_image
{
	border-radius:10px;
}

.title
{	
	color:#165b8e;
	font-weight:700;
	font-size:30px !important;
}
	
.adress
{
	border-top:1px solid #e2e2e9;;
	border-bottom:1px solid #e2e2e9;;
	padding:5px 0px;

	font-size:20px;
}

.btn_box
{
	bottom: 10;

	display: inline-block; 
	width: 400px;
	
	text-align: center;
}

.btn_box > div
{
	display:inline-block;
	height:60px; line-height:60px;
	border: 1px solid #f0f0f0;
	border-radius:5px;

	font-size:22px;
	text-align:center;

	cursor:pointer;
}

.btn_box > div:hover
{
	background-color: #165b8e;

	color: white;
}

.btn_box > div:nth-child(1) { width:220px; }
.btn_box > div:nth-child(2) { width:80px;  }
.btn_box > div:nth-child(3) { width:80px;  }
	
.moreinfo
{
	padding-bottom: 100px;
}

.moreinfo_title
{
	font-size:28px;
}

.moreinfo > div
{
	width:100%;
	padding:10px;
	border: 1px solid #f0f0f0;
}
	
.specific_info
{
	margin-bottom:70px;

	text-align:left !important;
}

.moreinfo > div:nth-child(1)
{
	margin-bottom: 40px;
	
	font-size: 16px;
}

.moreinfo > div:nth-child(2)
{
	text-align:center;
}

.license_img
{
	width:80px; height:28px;
	background-repeat: no-repeat;
	
	overflow: hidden;
}